.area_of_focus{
    padding: 100px 0;
    /* background-color: #3a190b; */
    background: var(--primary-bg);
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.area_of_focus h1{
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

.Area__focus_container{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.area__focus{
    flex: 1 1 250px;
    min-height: 340px;
    background-color:hsla(19, 32%, 20%, 0.1);
    backdrop-filter: blur(50px);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
    display: flex;
    color: #fff;
    border-radius: 10px;
    text-align: left;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.area__focus .body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    height: 100%;
    width: 100%;
    color: #fff;

}

.area__focus .body h4{
    color: #fff;
}
.area__focus .body p{
    font-size: 1.0rem !important;
    color: #fff;
}




.school{
    width: 70px;
    height: 70px;
    /* background-color: hsl(16, 100%, 50% , 0.9); */
    background-color: hsl(351, 96%, 30% );
    /* color: rgb(51, 51, 139) */
    color: hsla(351, 100%, 60%, 0.9);
    border-radius: 50%;
    margin: auto;
    display: flex;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#diversity{
    /* background-color:  rgba(30, 30, 192, 0.5); */
    background-color: #0d6efd;
    color: rgb(7, 33, 107)
}
.health{
background-color: #198754; 
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
#health{
    background-color: #155034;
    color: rgb(17, 194, 17);
}

.icons_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 20%;
    text-decoration: none;
}

.arrow{
    width: 60px;
    font-size: 30px;
    height:60px;
    border-radius: 50%;
    background-color: var(--btn-color-hover);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}
.arrow:hover{
    background-color: hsla(0, 88%, 27%);
    animation: moveLeft 0.5s linear forwards;
}

@keyframes moveLeft {
    from{
        transform:translate(0px);
    }
    to{
        transform: translate(10px);
    }
}

@keyframes change-background{
    from {
        background-color: #0d6efd;
    }
    to {
        background-color: #198754;
    }
}
@keyframes change-text-color{
    from{
        color: red;
    }
    to {
        color: green;
    }
}

.subject{
    display: none;
    animation: change-background  linear both;
    animation-timeline: scroll();
    width: 800px;
    height: 800px;

}
.subject p{
    display: none;
    animation: change-text-color  linear both;
    animation-timeline: scroll(scroll);
}

@keyframes reveal {
  from { opacity: 0; }
}

.scroller > * {
  animation: reveal linear both;
  animation-timeline: view();
}