.core-values{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f9854549;
    padding: 100px 0;
    
}
.values-list{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    gap: 20px;
    justify-content: center;

}

.value-item{
    flex: 1 1 300px; /* Flex-grow, flex-shrink, flex-basis */
    max-width: 300px;
    border: 1px solid red;
    /* max-width: 200px; Optional: limit the maximum width of each item */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
.value-icon{
    font-size: 50px;
    margin-bottom: 10px;
    color: #f9930d;
    transition: transform 0.3s ease; /* Animation on hover */
}
.value-title{
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.value-description{
    font-size: 16px;
}   
.value-item:hover .value-icon{
    transform: scale(1.2); /* Scale up the icon on hover */
}
.title{
    position: relative;
    margin-bottom: 30px;
}

.title-design{
    position: absolute;
    right: 0;
    border-radius: 10px;
    bottom: 10%;
    border-bottom: 10px;
    background:  rgba(107, 46, 46, 0.9);
    width: 100%;
    width: 100px;
    height: 10px;
}