.title {
  margin-bottom: 2rem;
  position: relative;
}

.title.center {
  text-align: center;
}

.title.left {
  text-align: left;
}

.title.right {
  text-align: right;
}

.value-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--dark-purple);
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 768px){
  .value-title{
    font-size: 1.5rem;
  }
}

.title.dark .value-title {
  color: var(--dark-purple);
}

.title-design {
  display: none;
 bottom: -30px;
  right: 0;
  position: absolute;
  width: 80px;
  height: 4px;
  background-color: #4A90E2;
  border-radius: 2px;
}

.title.center .title-design {
  margin: 0 auto;
}

.title.left .title-design {
  margin-left: 0;
}

.title.right .title-design {
  margin-left: auto;
}
