.hero_bg{
  background-image: url(../../../../assets/overlapping_circles-1745936096581.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-container {
  min-height: 100vh;
  position: relative;
}

.two_images-top-left {
  position: absolute;
  top: 20px;
  width: 300px;
  left: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.two_images-top-left .image1,
.two_images-top-left .image2 {
  aspect-ratio: 16/9;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.two_images-top-left .image1 img,
.two_images-top-left .image2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
}

.two_images-top-right {
  position: absolute;
  top: 20px;
  width: 300px;
  right: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.two_images-top-right .image3,
.two_images-top-right .image4 {
  aspect-ratio: 16/9;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.two_images-top-right .image3 img,
.two_images-top-right .image4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
}

.four_images-bottom {
  position: absolute;
  bottom: 20px;
  padding: 0 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.four_images-bottom .image5,
.four_images-bottom .image6,
.four_images-bottom .image7,
.four_images-bottom .image8 {
    height: 230px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.four_images-bottom .image5 img,
.four_images-bottom .image6 img,
.four_images-bottom .image7 img,
.four_images-bottom .image8 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
}
.text__center{
  position: absolute;
  width: 700px;
  top: 20%;
  transform: translate(-50%, -0%);
  left: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}
.text__center .btns{
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
.text__center .btns .btn{
  padding: 10px 20px;
  border-radius:20px;
}

@media screen and (max-width: 768px){
  .hero-container{
    display: none;
  }
}
