header{
    /* background-color: var(--navbar-bg-color); */
    background: #1fb854;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
    padding: 2rem 2rem;
    min-height: 30px;
    height: 100%;
    z-index: 1000;
}
.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    width: 100%;
}
.logo_2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #2c3e50; /* Deep navy */
    letter-spacing: 2px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #1abc9c, #3498db);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeIn 1s ease-in-out;
    user-select: none;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
.navbar{
    display: flex;
    gap: 1rem;
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links li{
    margin-left: 1rem;
}
.nav-links a{
    color: var(--navbar-text-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}
.nav-links a:hover{
    color: var(--navbar-text-color-hover);
}
.menu{
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar{
        width: 300px;
        height: 100vh;
        top: 0;
        left: 0;
        display: none;
        flex-direction: column;
        position: fixed;
        background-color: var(--navbar-bg-color);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        text-align: left;
    }
    .navbar.open{
        display: flex;
    }
    .nav-links{
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }
    
    .nav-links li{
        margin: 1rem 0;
    }
    .menu{
        display: block;
        cursor: pointer;
    }
    .menu-icon{
        font-size: 2rem;
        color: var(--navbar-text-color);
    }
    .navbar.active{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .close,.menu{
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        Font-size: 2rem;
    }

    .nav_btn{
        display: none;
    }
}