.board{
  padding: 100px 0;
  text-align: center;
}
.board h2{
  margin-bottom: 20px;
  font-size: 2rem;
}
.board-card{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 8px;
padding: 10px
}
.side-body{

  padding: 6px;
  border-radius: 6px;

  font-size: 12px;
  position: relative;
  display:  flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.side-body .img {
  max-width: 500px;
  max-height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-body img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}