footer{
    background-color: var(--footer-bg-color);
    min-height: 20vh; /* Set a minimum height for the footer */
    color: white;
    text-align: center;
    font-size: 14px;
    bottom: 0;
    padding: 10px;
    width: 100%;
    min-height: 50px; /* Set the height of the footer */
    line-height: 50px; /* Set the line-height to match the height */
}
.footer-container{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.footer__content .footer__links{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: flex-start;
    align-items: flex-start;

}

.footer__content .footer__links .footer__link a{
    color: #fff;
    text-decoration: none;
}

.footer__content .footer__links .footer__link a:hover{
    color: red;
    cursor: pointer;
}

