@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=DynaPuff:wght@400..700&family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  /* Button colors (Alibaba orange theme) */
  --btn-color: #ff6a00;
  --btn-color-hover: #e55c00;
  --btn-color-active: #cc5200;
  --btn-color-disabled: #cccccc;
  --btn-color-disabled-hover: #cccccc;
  --btn-color-disabled-active: #cccccc;

  --btn-text-color: #ffffff;
  --btn-text-color-hover: #ffffff;
  --btn-text-color-active: #ffffff;
  --btn-text-color-disabled: #ffffff;

  --btn-border-color: #ff6a00;
  --btn-border-color-hover: #e55c00;
  --btn-border-color-active: #cc5200;
  --btn-border-color-disabled: #cccccc;

  /* Navbar */
  --navbar-bg-color: #ff6a00;
  --navbar-text-color: #ffffff;
  --navbar-text-color-hover: #000000;
  --navbar-text-color-active: #000000;
  --navbar-border-color: #ffcc99;

  /* Footer */
  --footer-bg-color: #3a190b;;
  --footer-text-color: #ffffff;

  /* Text */
  --text-color: #000000;
  --text-muted: #666666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

.btn {
  background-color: var(--btn-color);
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.2);
  color: var(--btn-text-color);
  border: 1px solid var(--btn-border-color);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--btn-color-hover);
  color: var(--btn-text-color-hover);
  border: 1px solid var(--btn-border-color-hover);
}

.btn:active {
  background-color: var(--btn-color-active);
  color: var(--btn-text-color-active);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
  font-family: "Outfit", sans-serif;
}

h4 {
  color: var(--text-muted);
}

h1 {
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  h1 { font-size: 2rem; }
}
@media screen and (max-width: 480px) {
  h1 { font-size: 1.5rem; }
}
@media screen and (max-width: 320px) {
  h1 { font-size: 1rem; }
}

p {
  color: #333333;
  font-family: "Outfit", sans-serif;
  font-size: 1.2rem;
}
