.hero-work{
    height: 30vw;
    /* background: purple; */
    background: url('../../../../assets/fe56cf1b-25c9-487a-9877-a224493329fd.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    
}